
@{
    ViewBag.Title = "About";
}


<section class="container main-body-wrpr">
    <div class="wdgt-wrapper">
        <div class="wdgt-hdr">
            <img src="~/Images/info-icon.png"><h4>About Enrollment Reconciliation System</h4>
        </div>
        <div class="wdgt-body clearfix">
            <div class="about-sctn">
                <div class="about-content">
                    <img class="about-image" src="~/Images/about-image.png" />
                    <p style="font-family: Verdana; font-size:small">Enrollment Recon System is used for Out Of Area Tracking, Reconciliation of Member Data Discrepancies between CMS and GPS and to Manage RPR Cases.
                    This application has multiple modules and subsystems that ensure rectifying data mismatches through creation, review, and analysis of the various records or cases. 
                    Using various work baskets, it ensures creating various cases. 
                    Work baskets are various types of discrepancies that identified between the CMS and GPS data. Manage OOA, SCC, TRR and Recon Eligibility, DOB, Gender and to manage RPR requests are prominent among them.</p>
                    
                        <p style="font-family: Verdana; font-size:small">Below mentioned are some key features of this system.</p>
                        
                        <ul style="list-style-type: disc; font-style: italic; font-family: Verdana; padding-left: 20px; line-height:1em;">
                            <li style="list-style-type: square;line-height:2em;">Automation of OOA Frontend Scrub process.</li>
                            <li style="list-style-type: square;line-height:2em;">Automation of sending bulk OOA Letters.</li>
                            <li style="list-style-type: square;line-height:2em;">Screens will be driven based on User Skills and Prefernces.</li>
                            <li style="list-style-type: square;line-height:2em;">Ability to Bulk Upload Cases, Unlock Cases, Reassign Cases and Mass Update Cases based on Work Queue and Action.</li>
                            <li style="list-style-type: square;line-height:2em;">Automation of Manual data entry for OOA, SCC, TRR, Eligbility,Gender,DOB Processes using Bulk Imports from Text Files, Excel Files, databases etc.</li>
                            <li style="list-style-type: square;line-height:2em;">Ability to get Member information from GPS within ERS system.</li>
                            <li style="list-style-type: square;line-height:2em;">Ability to validate Address using USPS services within the system.</li>
                            <li style="list-style-type: square;line-height:2em;">Ability to Manage Inventory within system by using Dashboards, Queues, Reports.</li>
                            <li style="list-style-type: square;line-height:2em;">Automation of FDR Process for RPRs.</li>
                            <li style="list-style-type: square;line-height:2em;">Automation of Create CMS Transactions, Send OOA Letters.</li>
                            <li style="list-style-type: square;line-height:2em;">Restriction Set handling.</li>
                        </ul>
                        <ul style="list-style-type: square; font-style: italic; font-family: Verdana; padding-left: 20px;">
                            <li style="text-align: left; list-style-type: square; font-weight:bold;line-height: 2em;">Improved User Friendliness:</li>
                            <ul style="list-style-type: disc; font-style: italic; font-family: Verdana; padding-left: 20px;">
                                <li style="list-style-type: disc;line-height: 2em;">Dashboards, Work Queues, Easy and accessible management dashboards with SSRS reports.</li>
                                <li style="list-style-type: disc;line-height: 2em;">Option to search records within the system and export the results into Excel.</li>
                                <li style="list-style-type: disc;line-height: 2em;">Admin users can easily manage User Administration, Access Groups and assign Skills.</li>
                                <li style="list-style-type: disc;line-height: 2em;">Admin users can easily manage Lookups, Alerts, Resources, Department, Configurations.</li>
                                <li style="list-style-type: disc;line-height: 2em;">Generation of LIVE Reports within Application.Below mentioned are few business reports available under Reports Menu.</li>
                                <ul style="font-style: italic; font-family: Verdana; padding-left: 40px;">
                                    <li style="list-style-type: circle;">Daily Dashboard Report</li>
                                    <li style="list-style-type: circle;">Monthly Metrics Report</li>
                                    <li style="list-style-type: circle;">MTD Peer Audit Quality Report</li>
                                    <li style="list-style-type: circle;">OOA Tracking Report</li>
                                    <li style="list-style-type: circle;">Pended & Submitted RPR Report</li>
                                </ul>
                            </ul>
                            <li style="text-align: left; list-style-type: square; font-weight:bold; ">Integrate with other systems like:</li>
                            <ul style="list-style-type: disc; font-style: italic; font-family: Verdana; padding-left: 20px;">
                                <li style="list-style-type: disc; line-height: 2em;">GPS – For ERS Team, as Data Source.</li>
                                <li style="list-style-type: disc; line-height: 2em;">MIIM – For MIIM Team, to View Cases,to update OOA Comments, to Create RPR Case.</li>
                                <li style="list-style-type: disc; line-height: 2em;">OFSC – For MIIM Team, to Get Member Elgibility, DOB, Gender Data Descrepiences information.</li>
                                <li style="list-style-type: disc; line-height: 2em;">ODM – To Documents Management System.</li>
                            </ul>
                        </ul>
</div>
            </div>
        </div>
    </div>
</section>