@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@model DOGEN_OSTActions
@if (ViewBag.FirstLetter != "FirstLetter")
{
<div class="clearfix">
    <div class="form-group textarea col-md-12">
        <label for="txtComments">Comments</label>
        @Html.TextAreaFor(m => m.Comments, new CustomValidation().AddCssClass("form-control").CustomAttributes("id", "txtComments").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
    </div>
</div>
}
else
{
    <script type="text/javascript">
        MainLayout.fnAlertMessege("Error!", "First Letter Mail Date is Required.");
        $("#ddlActions").val('');
    </script>
}