@using ENRLReconSystem.Utility
@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@model DOGEN_OSTActions


    <div class="clearfix">
       
            <div class="form-group col-md-3">
                <label class="required">Contains Errors</label>
                @Html.DropDownListFor(m => m.ContainsErrorsLkup, new SelectList(Model.lstContainsErros, "LookupValue1", "LookupValue"),ConstantTexts.dropdownDefaultValue, new CustomValidation().Required("Please select Contains Errors.").AddCssClass("form-control").validationAttributes)
            </div>
            <div class="form-group textarea col-md-12">
                <label class="required">Comments</label>
                @Html.TextAreaFor(m => m.Comments, new CustomValidation().AddCssClass("form-control").CustomAttributes("id", "txtComments").Required("Please enter Comments.").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
            </div>
      
    </div>


