
@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@model DOGEN_OSTActions
@if (ViewBag.PreviousCat == "OOACat")
{
<div class="clearfix">
    <div class="form-group textarea col-md-12">
        <label for="txtComments" class="required">Comments</label>
        @Html.TextAreaFor(m => m.Comments, new CustomValidation().AddCssClass("form-control").Required("Please enter Comments.").CustomAttributes("id", "txtComments").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
    </div>
</div>
}
else if(ViewBag.MailDate == "MailDate")
{
    <script type="text/javascript">
        MainLayout.fnAlertMessege("Error!", "Parent Case should have First Letter Mail Date.");
        $("#ddlActions").val('');
    </script>
}
else
{
    <script type="text/javascript">
        MainLayout.fnAlertMessege("Error!", "If You want Perform this Action Parent Case Should be OOA.");
        $("#ddlActions").val('');
    </script>
}