<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <!--Dev DB Connecting-->
    <!--DEV-->
    <!--<add name="ERSDbProvider" connectionString="Data Source=dbsed3561;Initial Catalog=ERS;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!--TEST-->
    <add name="ERSDbProvider" connectionString="Data Source=dbset1611;Initial Catalog=ERS;Integrated Security=True" providerName="System.Data.SqlClient" />

    <!--UAT-->
    <!--<add name="ERSDbProvider" connectionString="Data Source=DBSES2416;Initial Catalog=ERS;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!--PROD-->
    <!--<add name="ERSDbProvider" connectionString="Data Source=dbsep4085cls;Initial Catalog=ERS;Integrated Security=True" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ServerType" value="Localhost" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DebugMode" value="0" />
    <add key="MSDomain" value="ms.ds.uhc.com" />
    <add key="OneStopShopReportURL" value="http://dp-mrssrsprd01.xlhealth.local/ReportServer/Pages/ReportViewer.aspx?%2fOOA%2fRPT_OOA_ONE_STOP_SHOP"></add>
    <add key="AEConnectUid" value="upm3_ers_tst" />
    <add key="AEConnectUidPwd" value="U4QdQrJa" />
    <!--<add key="AEConnectUid" value="upm3_ers_prd" />
    <add key="AEConnectUidPwd" value="bWMEqB9M" />-->
    <add key="ApplicationName" value="ERS" />
    <add key="ApplicationInstantName" value="ERS" />
    <add key="AEUserId" value="oeruser" />
    <add key="AEClientId" value="ERS" />
    <add key="AEexternalId" value="ERS" />
    <add key="DmLogin" value="svciptt"></add>
    <add key="DmPwd" value="LPW5qNvq"></add>

    <!--*****************************************************************************************************-->
    <!--***********************************Authorization*****************************************************-->
    <!--*****************************************************************************************************-->
    <!--***********************************Bulk Upload*****************************************************************-->
    <!--<add key="BulkUploadFileFormats" value=",csv," />
     <add key="AttchmentFileFormat" value=",pdf," />-->
    <!-- Dev nas drive path-->
    <!--<add key="BulkUploadFilePath" value="\\nasv0012\webapp_dev\ERS\Docs\BulkUpload\" />
    <add key="webServerTempPath" value="\\nasv0012\webapp_dev\ERS\Temp\" />
    <add key="AttchmentFilePath" value="\\nasv0012\webapp_dev\ERS\Docs\Attachments\" />-->
    <!-- Test nas drive path-->
    <!--<add key="BulkUploadFilePath" value="\\nasv0014\webapp_test\ERS\Docs\BulkUpload\" />
    <add key="webServerTempPath" value="\\nasv0014\webapp_test\ERS\Temp\" />
    <add key="AttchmentFilePath" value="\\nasv0014\webapp_test\ERS\Docs\Attachments\" />-->

    <!--****************************************DEV***************************************************-->
    <add key="AdminSID" value="S-1-5-21-588371583-1805265460-4214133073-3011650" />
    <add key="AdmOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3011651" />
    <add key="AdmEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3012550" />
    <add key="AdmRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3016254" />

    <add key="MgrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3012541" />
    <add key="MgrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3016255" />
    <add key="MgrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3000626" />

    <add key="PrcrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3013344" />
    <add key="PrcrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-2984073" />
    <add key="PrcrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3016264" />

    <add key="VwrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3000806" />
    <add key="VwrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3016604" />
    <add key="VwrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3011078" />

    <add key="WebServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3012504" />
    <add key="MacroServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-2984069" />
    <add key="MIIMSID" value="S-1-5-21-588371583-1805265460-4214133073-3163209" />
    <add key="RestrictedSID" value="S-1-5-21-588371583-1805265460-4214133073-3461420" />

    <!--****************************************Test***************************************************
    <add key="AdminSID" value="S-1-5-21-588371583-1805265460-4214133073-3000735" />
    <add key="AdmOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3016605" />
    <add key="AdmEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3012544" />
    <add key="AdmRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3016272" />

    <add key="MgrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3016617" />
    <add key="MgrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3009265" />
    <add key="MgrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3000677" />

    <add key="PrcrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3016606" />
    <add key="PrcrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3011843" />
    <add key="PrcrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3011843" />

    <add key="VwrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3012506" />
    <add key="VwrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3016612" />
    <add key="VwrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3000781" />

    <add key="WebServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3000766" />
    <add key="MacroServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3016273" />
    <add key="MIIMSID" value="S-1-5-21-588371583-1805265460-4214133073-3163209" />
    <add key="RestrictedSID" value="S-1-5-21-588371583-1805265460-4214133073-3461426" />

-->
    <!--****************************************UAT***************************************************
    <add key="AdminSID" value="S-1-5-21-588371583-1805265460-4214133073-3016247"/>
    <add key="AdmOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3021203"/>
    <add key="AdmEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3016248"/>
    <add key="AdmRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3016249"/>

    <add key="MgrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3016253"/>
    <add key="MgrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3017621"/>
    <add key="MgrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3012548"/>

    <add key="PrcrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3016263"/>
    <add key="PrcrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3012507"/>
    <add key="PrcrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3012044"/>

    <add key="VwrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3012043"/>
    <add key="VwrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3017622"/>
    <add key="VwrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-30133429"/>

    <add key="WebServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3016256"/>
    <add key="MacroServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3012549"/>
    <add key="MIIMSID" value="S-1-5-21-588371583-1805265460-4214133073-3163209" />
    <add key="RestrictedSID" value="S-1-5-21-588371583-1805265460-4214133073-3461430" />


    ****************************************Prod***************************************************
    <add key="AdminSID" value="S-1-5-21-588371583-1805265460-4214133073-3012062" />
    <add key="AdmOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3021286" />
    <add key="AdmEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3023983" />
    <add key="AdmRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3012054" />

    <add key="MgrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3017626" />
    <add key="MgrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3024033" />
    <add key="MgrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3021201" />

    <add key="PrcrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3021330" />
    <add key="PrcrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3023918" />
    <add key="PrcrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3020160" />

    <add key="VwrOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3019647" />
    <add key="VwrEligSID" value="S-1-5-21-588371583-1805265460-4214133073-3017627" />
    <add key="VwrRPRSID" value="S-1-5-21-588371583-1805265460-4214133073-3021299" />

    <add key="WebServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3021295" />
    <add key="MacroServiceSID" value="S-1-5-21-588371583-1805265460-4214133073-3012563" />
    <add key="MIIMSID" value="S-1-5-21-588371583-1805265460-4214133073-3163210" />
    <add key="RestrictedSID" value="S-1-5-21-588371583-1805265460-4214133073-3461432" />
    
    -->
    <!--
SIDs
**********************************************************************************
      Dev
**********************************************************************************
MnR_RRT_APP_ERS_AdminDev		    :	S-1-5-21-588371583-1805265460-4214133073-3011650
MnR_RRT_APP_ERS_AdmOSTDev		    :	S-1-5-21-588371583-1805265460-4214133073-3011651
MnR_RRT_APP_ERS_AdmEligDev		  :	S-1-5-21-588371583-1805265460-4214133073-3012550
MnR_RRT_APP_ERS_AdmRPRDev		    :	S-1-5-21-588371583-1805265460-4214133073-3016254
MnR_RRT_APP_ERS_MgrOSTDev		    :	S-1-5-21-588371583-1805265460-4214133073-3012541
MnR_RRT_APP_ERS_MgrEligDev		  :	S-1-5-21-588371583-1805265460-4214133073-3016255
MnR_RRT_APP_ERS_MgrRPRDev		    :	S-1-5-21-588371583-1805265460-4214133073-3000626
MnR_RRT_APP_ERS_PrcrOSTDev		  :	S-1-5-21-588371583-1805265460-4214133073-3013344
MnR_RRT_APP_ERS_PrcrEligDev		  :	S-1-5-21-588371583-1805265460-4214133073-2984073
MnR_RRT_APP_ERS_PrcrRPRDev		  :	S-1-5-21-588371583-1805265460-4214133073-3016264
MnR_RRT_APP_ERS_VwrOSTDev		    :	S-1-5-21-588371583-1805265460-4214133073-3000806
MnR_RRT_APP_ERS_VwrEligDev		  :	S-1-5-21-588371583-1805265460-4214133073-3016604
MnR_RRT_APP_ERS_VwrRPRDev		    :	S-1-5-21-588371583-1805265460-4214133073-3011078
MnR_RRT_APP_ERS_WebServiceDev 	:	S-1-5-21-588371583-1805265460-4214133073-3012504
MnR_RRT_APP_ERS_MacroServiceDev	:	S-1-5-21-588371583-1805265460-4214133073-2984069
MnR_RRT_APP_ERS_ResDev          : S-1-5-21-588371583-1805265460-4214133073-3461420
**********************************************************************************

**********************************************************************************
     Test
**********************************************************************************
MnR_RRT_APP_ERS_AdminTst		    :	S-1-5-21-588371583-1805265460-4214133073-3000735
MnR_RRT_APP_ERS_AdmOSTTst		    :	S-1-5-21-588371583-1805265460-4214133073-3016605
MnR_RRT_APP_ERS_AdmEligTst	    :	S-1-5-21-588371583-1805265460-4214133073-3012544
MnR_RRT_APP_ERS_AdmRPRTst		    :	S-1-5-21-588371583-1805265460-4214133073-3016272
MnR_RRT_APP_ERS_MgrOSTTst		    :	S-1-5-21-588371583-1805265460-4214133073-3016617
MnR_RRT_APP_ERS_MgrEligTst	    :	S-1-5-21-588371583-1805265460-4214133073-3009265
MnR_RRT_APP_ERS_MgrRPRTst		    :	S-1-5-21-588371583-1805265460-4214133073-3000677
MnR_RRT_APP_ERS_PrcrOSTTst	    :	S-1-5-21-588371583-1805265460-4214133073-3016606
MnR_RRT_APP_ERS_PrcrEligTst	    :	S-1-5-21-588371583-1805265460-4214133073-3016610
MnR_RRT_APP_ERS_PrcrRPRTst	    :	S-1-5-21-588371583-1805265460-4214133073-3011843
MnR_RRT_APP_ERS_VwrOSTTst		    :	S-1-5-21-588371583-1805265460-4214133073-3012506
MnR_RRT_APP_ERS_VwrEligTst	    :	S-1-5-21-588371583-1805265460-4214133073-3016612
MnR_RRT_APP_ERS_VwrRPRTst		    :	S-1-5-21-588371583-1805265460-4214133073-3000781
MnR_RRT_APP_ERS_WebServiceTst	  :	S-1-5-21-588371583-1805265460-4214133073-3000766
MnR_RRT_APP_ERS_MacroServiceTst	:	S-1-5-21-588371583-1805265460-4214133073-3016273
MnR_RRT_APP_ERS_ResTst          : S-1-5-21-588371583-1805265460-4214133073-3461426
**********************************************************************************

**********************************************************************************
      UAT Groups
**********************************************************************************
MnR_RRT_APP_ERS_AdminStg		    :	S-1-5-21-588371583-1805265460-4214133073-3016247
MnR_RRT_APP_ERS_AdmOSTStg		    :	S-1-5-21-588371583-1805265460-4214133073-3021203
MnR_RRT_APP_ERS_AdmEligStg	    :	S-1-5-21-588371583-1805265460-4214133073-3016248
MnR_RRT_APP_ERS_AdmRPRStg		    :	S-1-5-21-588371583-1805265460-4214133073-3016249
MnR_RRT_APP_ERS_MgrOSTStg		    :	S-1-5-21-588371583-1805265460-4214133073-3016253
MnR_RRT_APP_ERS_MgrEligStg	    :	S-1-5-21-588371583-1805265460-4214133073-3017621
MnR_RRT_APP_ERS_MgrRPRStg		    :	S-1-5-21-588371583-1805265460-4214133073-3012548
MnR_RRT_APP_ERS_PrcrOSTStg	    :	S-1-5-21-588371583-1805265460-4214133073-3016263
MnR_RRT_APP_ERS_PrcrEligStg	    :	S-1-5-21-588371583-1805265460-4214133073-3012507
MnR_RRT_APP_ERS_PrcrRPRStg	    :	S-1-5-21-588371583-1805265460-4214133073-3012044
MnR_RRT_APP_ERS_VwrOSTStg		    :	S-1-5-21-588371583-1805265460-4214133073-3012043
MnR_RRT_APP_ERS_VwrEligStg	    :	S-1-5-21-588371583-1805265460-4214133073-3017622
MnR_RRT_APP_ERS_VwrRPRStg		    :	S-1-5-21-588371583-1805265460-4214133073-3013342
MnR_RRT_APP_ERS_WebServiceStg	  :	S-1-5-21-588371583-1805265460-4214133073-3016256
MnR_RRT_APP_ERS_MacroServiceStg	:	S-1-5-21-588371583-1805265460-4214133073-3012549
MnR_RRT_APP_ERS_PrcrMIIMStg     : S-1-5-21-588371583-1805265460-4214133073-3163209
MnR_RRT_APP_ERS_ResStg          : S-1-5-21-588371583-1805265460-4214133073-3461430
**********************************************************************************

**********************************************************************************
      Production Groups Groups
**********************************************************************************
MnR_RRT_APP_ERS_AdminPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3012062
MnR_RRT_APP_ERS_AdmOSTPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3021286
MnR_RRT_APP_ERS_AdmEligPrd	    :	S-1-5-21-588371583-1805265460-4214133073-3023983
MnR_RRT_APP_ERS_AdmRPRPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3012054
MnR_RRT_APP_ERS_MgrOSTPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3017626
MnR_RRT_APP_ERS_MgrEligPrd	    :	S-1-5-21-588371583-1805265460-4214133073-3024033
MnR_RRT_APP_ERS_MgrRPRPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3021201
MnR_RRT_APP_ERS_PrcrOSTPrd	    :	S-1-5-21-588371583-1805265460-4214133073-3021330
MnR_RRT_APP_ERS_PrcrEligPrd	    :	S-1-5-21-588371583-1805265460-4214133073-3023918
MnR_RRT_APP_ERS_PrcrRPRPrd	    :	S-1-5-21-588371583-1805265460-4214133073-3020160
MnR_RRT_APP_ERS_VwrOSTPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3019647
MnR_RRT_APP_ERS_VwrEligPrd	    :	S-1-5-21-588371583-1805265460-4214133073-3017627
MnR_RRT_APP_ERS_VwrRPRPrd		    :	S-1-5-21-588371583-1805265460-4214133073-3021299
MnR_RRT_APP_ERS_WebServicePrd	  :	S-1-5-21-588371583-1805265460-4214133073-3021295
MnR_RRT_APP_ERS_MacroServicePrd	:	S-1-5-21-588371583-1805265460-4214133073-3012563
MnR_RRT_APP_ERS_PrcrMIIMPrd     : S-1-5-21-588371583-1805265460-4214133073-3163210
MnR_RRT_APP_ERS_ResPrd          : S-1-5-21-588371583-1805265460-4214133073-3461432
**********************************************************************************
-->
  </appSettings>
  <system.web>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"  />-->
    
    <customErrors mode="On" defaultRedirect="~/Error/Index">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="403" redirect="~/Error/BadRequest" />
    </customErrors>
    <sessionState timeout="30" />
    <!--<sessionState timeout="30" mode="SQLServer" allowCustomSqlDatabase="true"  sqlConnectionString="Integrated Security=SSPI;data source=dbset1611;database=ERS;" />-->
      
    <authentication mode="Windows" />    
    <roleManager defaultProvider="ERSRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="ERSRoleProvider" type="ENRLReconSystem.ERSRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!--<httpErrors errorMode="Custom">
      <error statusCode="403" subStatusCode="14" path="/Error/NotFound" responseMode="Redirect" />
    </httpErrors>
    <defaultDocument enabled="false" />-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <!--1 GB-->
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SearchTrrSummarySoapServiceV1ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="SearchTrrDetailSoapServiceV1ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="PostCmstransactionSoapServiceV1ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="RetrieveDemographicsSoapServiceV1ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="ReadEmployerSoapServiceV1ServiceSoapBinding" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--AE Service URLs-->
      <!--****************************************DEV / TEST- Bravo***************************************************-->
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding" contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/consumers/cmstransaction/PostCmstransactionV1" binding="basicHttpBinding" bindingConfiguration="PostCmstransactionSoapServiceV1ServiceSoapBinding" contract="srvAECMSTransaction.PostCmstransaction" name="PostCmstransactionPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/consumers/outofareaoption/PutOutofareaoptionV1" binding="basicHttpBinding" bindingConfiguration="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding" contract="srvAEOutOfAreaOption.PutOutofareaoption" name="PutOutofareaoptionPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/ovationsmember/ReadOvationsMemberEligibilityV8" binding="basicHttpBinding" bindingConfiguration="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding" contract="srvAEMemberEligibility.ReadOvationsMemberEligibility" name="ReadOvationsMemberEligibilityPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/cms/trrsummary/SearchTrrSummaryV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrSummarySoapServiceV1ServiceSoapBinding" contract="srvAETrrSummary.SearchTrrSummary" name="SearchTrrSummaryPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding" contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort1" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/consumer/demographics/RetrieveDemographicsV2" binding="basicHttpBinding" bindingConfiguration="RetrieveDemographicsSoapServiceV1ServiceSoapBinding" contract="srvAEMemberDemographics.RetrieveDemographics" name="RetrieveDemographicsPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm4/soap/uhcmr/consumers/employer/ReadEmployerV1" binding="basicHttpBinding" bindingConfiguration="ReadEmployerSoapServiceV1ServiceSoapBinding" contract="srvAEEmployerSummary.ReadEmployer" name="ReadEmployerPort" />

      <!--**************************************** STAGE / UAT ***************************************************-->
      <!--
      <endpoint address="https://aestageproxy.uhc.com/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding" contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort" />
      <endpoint address="https://aestageproxy.uhc.com/upm3/uhcmr/consumers/cmstransaction/PostCmstransactionV1" binding="basicHttpBinding" bindingConfiguration="PostCmstransactionSoapServiceV1ServiceSoapBinding" contract="srvAECMSTransaction.PostCmstransaction" name="PostCmstransactionPort" />
      <endpoint address="https://aestageproxy.uhc.com/upm3/uhcmr/consumers/outofareaoption/PutOutofareaoptionV1" binding="basicHttpBinding" bindingConfiguration="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding" contract="srvAEOutOfAreaOption.PutOutofareaoption" name="PutOutofareaoptionPort" />
      <endpoint address="https://aestageproxy.uhc.com/upm3/ovationsmember/ReadOvationsMemberEligibilityV8" binding="basicHttpBinding" bindingConfiguration="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding" contract="srvAEMemberEligibility.ReadOvationsMemberEligibility" name="ReadOvationsMemberEligibilityPort" />
      <endpoint address="https://aestageproxy.uhc.com/upm3/uhcmr/cms/trrsummary/SearchTrrSummaryV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrSummarySoapServiceV1ServiceSoapBinding" contract="srvAETrrSummary.SearchTrrSummary" name="SearchTrrSummaryPort" />
      <endpoint address="https://aestageproxy.uhc.com/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding" contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort1" />
      <endpoint address="https://aestageproxy.uhc.com/upm3/consumer/demographics/RetrieveDemographicsV2" binding="basicHttpBinding" bindingConfiguration="RetrieveDemographicsSoapServiceV1ServiceSoapBinding" contract="srvAEMemberDemographics.RetrieveDemographics" name="RetrieveDemographicsPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm4/soap/uhcmr/consumers/employer/ReadEmployerV1" binding="basicHttpBinding" bindingConfiguration="ReadEmployerSoapServiceV1ServiceSoapBinding" contract="srvAEEmployerSummary.ReadEmployer" name="ReadEmployerPort" />
      -->

      <!--**************************************** PROD ***************************************************-->
      <!--
      <endpoint address="https://aeprodproxy.uhc.com/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding" contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort" />
      <endpoint address="https://aeprodproxy.uhc.com/upm3/uhcmr/consumers/cmstransaction/PostCmstransactionV1" binding="basicHttpBinding" bindingConfiguration="PostCmstransactionSoapServiceV1ServiceSoapBinding" contract="srvAECMSTransaction.PostCmstransaction" name="PostCmstransactionPort" />
      <endpoint address="https://aeprodproxy.uhc.com/upm3/uhcmr/consumers/outofareaoption/PutOutofareaoptionV1" binding="basicHttpBinding" bindingConfiguration="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding" contract="srvAEOutOfAreaOption.PutOutofareaoption" name="PutOutofareaoptionPort" />
      <endpoint address="https://aeprodproxy.uhc.com/upm3/ovationsmember/ReadOvationsMemberEligibilityV8" binding="basicHttpBinding" bindingConfiguration="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding" contract="srvAEMemberEligibility.ReadOvationsMemberEligibility" name="ReadOvationsMemberEligibilityPort" />
      <endpoint address="https://aeprodproxy.uhc.com/upm3/uhcmr/cms/trrsummary/SearchTrrSummaryV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrSummarySoapServiceV1ServiceSoapBinding" contract="srvAETrrSummary.SearchTrrSummary" name="SearchTrrSummaryPort" />
      <endpoint address="https://aeprodproxy.uhc.com/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1" binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding" contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort1" />
      <endpoint address="https://aeprodproxy.uhc.com/upm3/consumer/demographics/RetrieveDemographicsV2" binding="basicHttpBinding" bindingConfiguration="RetrieveDemographicsSoapServiceV1ServiceSoapBinding" contract="srvAEMemberDemographics.RetrieveDemographics" name="RetrieveDemographicsPort" />
      <endpoint address="https://aeprodproxy.uhc.com/upm4/soap/uhcmr/consumers/employer/ReadEmployerV1" binding="basicHttpBinding" bindingConfiguration="ReadEmployerSoapServiceV1ServiceSoapBinding" contract="srvAEEmployerSummary.ReadEmployer" name="ReadEmployerPort" />
      -->
    </client>
  </system.serviceModel>
</configuration>
