<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="UserRole" value="MIIMUser" />
    <add key="MacroRole" value="MacroRole" />
    <add key="MIIMSid" value="S-1-5-21-588371583-1805265460-4214133073-3163209" />
    <add key="AdmOSTSID" value="S-1-5-21-588371583-1805265460-4214133073-3011651" />
    <!--Production SID -->
    <!--<add key="MIIMSid" value="S-1-5-21-588371583-1805265460-4214133073-3163210" />--> 
    <add key="AEConnectUid" value="upm3_ers_tst" />
    <add key="AEConnectUidPwd" value="U4QdQrJa" />
    <add key="ApplicationName" value="ERS" />
    <add key="ApplicationInstantName" value="ERS" />
    <add key="AEUserId" value="oeruser" />
    <add key="AEClientId" value="ERS" />
    <add key="AEexternalId" value="ERS" />
  </appSettings>
  <connectionStrings>
    <!--Dev DB Connecting-->
    <add name="ERSDbProvider" connectionString="Data Source=dbsed3561;Initial Catalog=ERS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RetrieveDemographicsSoapServiceV2ServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding1" />
        <binding name="SearchTrrSummarySoapServiceV1ServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SearchTrrSummarySoapServiceV1ServiceSoapBinding1" />
        <binding name="PostCmstransactionSoapServiceV1ServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PostCmstransactionSoapServiceV1ServiceSoapBinding1" />
        <binding name="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding1" />
        <binding name="SearchTrrDetailSoapServiceV1ServiceSoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="SearchTrrDetailSoapServiceV1ServiceSoapBinding3" />
        <binding name="ReadEmployerSoapServiceV1ServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/consumer/demographics/RetrieveDemographicsV2"
        binding="basicHttpBinding" bindingConfiguration="RetrieveDemographicsSoapServiceV2ServiceSoapBinding"
        contract="srvAEMemberDemographics.RetrieveDemographics" name="RetrieveDemographicsPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/ovationsmember/ReadOvationsMemberEligibilityV8"
        binding="basicHttpBinding" bindingConfiguration="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding"
        contract="srvAEMemberEligibility.ReadOvationsMemberEligibility"
        name="ReadOvationsMemberEligibilityPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/cms/trrsummary/SearchTrrSummaryV1"
        binding="basicHttpBinding" bindingConfiguration="SearchTrrSummarySoapServiceV1ServiceSoapBinding"
        contract="srvAETrrSummary.SearchTrrSummary" name="SearchTrrSummaryPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/consumers/cmstransaction/PostCmstransactionV1"
        binding="basicHttpBinding" bindingConfiguration="PostCmstransactionSoapServiceV1ServiceSoapBinding"
        contract="srvAECMSTransaction.PostCmstransaction" name="PostCmstransactionPort" />
      <endpoint address="https://aesystestproxy-vm.uhc.com:33443/upm3/uhcmr/consumers/outofareaoption/PutOutofareaoptionV1"
        binding="basicHttpBinding" bindingConfiguration="PutOutOfAreaOptionSoapServiceV1ServiceSoapBinding"
        contract="srvAEOutOfAreaOption.PutOutofareaoption" name="PutOutofareaoptionPort" />
      <endpoint address="https://u3calpha.uhc.com/upm3_gateway/upm3/uhcmr/cms/trrdetail/SearchTrrdetailV1"
        binding="basicHttpBinding" bindingConfiguration="SearchTrrDetailSoapServiceV1ServiceSoapBinding2"
        contract="srvAETrrDetails.SearchTrrdetail" name="SearchTrrdetailPort1" />
      <endpoint address="http://apiengine-upm4-prod.optum.com/soap/uhcmr/consumers/employer/ReadEmployerV1"
        binding="basicHttpBinding" bindingConfiguration="ReadEmployerSoapServiceV1ServiceSoapBinding"
        contract="srvAEEmployerSummary.ReadEmployer" name="ReadEmployerPort" />
    </client>
  </system.serviceModel>
</configuration>
