@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@model DOGEN_RPRActions

<div class="clearfix">
    @*<div class="form-group date-group col-md-3">
        @Html.LabelFor(m => m.IncludeInTodaysSubmission, "Include In Today's Submission")
        @Html.CheckBoxFor(m => m.IncludeInTodaysSubmission, new { @class = "form-control", @id = "cbxEGHPMember" })
    </div>*@
    <div class="form-group textarea col-md-12">
        @Html.LabelFor(m => m.Comments, "Comments", new { @class = "required"})
        @Html.TextAreaFor(m => m.Comments, new CustomValidation().Required("Comments are Required").AddCssClass("form-control").CustomAttributes("id", "txtComments").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
    </div>
</div>
