
@using ENRLReconSystem.Helpers
@using ENRLReconSystem.DO
@model DOGEN_EligibilityActions

 
    <div class="clearfix">      
            <div class="form-group textarea col-md-12">
                <label for="txtComments" class="required">Comments</label>
                @Html.TextAreaFor(m => m.Comments, new CustomValidation().Required("Comments is Required").AddCssClass("form-control").CustomAttributes("id", "txtComments").CustomAttributes("maxlength", "4000").StringMaxLength(4000, "Comments").validationAttributes)
            </div>    
    </div>
